@charset "utf-8";

body {
  background: #ffcbdb;
  color: black;
  font-family: arial;
}
body header {
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 37.4375em) {
  body header {
    width: 600px;
  }
}

.timer {
	
	font-size: 50px;
}

.game {
  height: 90vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 37.4375em) {
  .game {
    width: 600px;
  }
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: 22%;
  margin: 1%;
  cursor: pointer;
}

.flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 18%;
  float: left;
  border-radius: 0px;
}

.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}
.flipper .front, .flipper .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-backface-visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: #99CC33 0 8px 2px;
}
.flipper .front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background:#66ff00;
}
.flipper .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 1px solid #212154;
}




#aslan {
  background: white url("resimler/aslan.png") no-repeat center;
  background-size: contain;
}

#at {
  background: white url("resimler/at.png") no-repeat center;
  background-size: contain;
}

#deve {
  background: white url("resimler/deve.png") no-repeat center;
  background-size: contain;
}

#esek {
  background: white url("resimler/esek.png") no-repeat center;
  background-size: contain;
}

#inek {
  background: white url("resimler/inek.png") no-repeat center;
  background-size: contain;
}



